* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #eee;
}
.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    background: white;
}
/* .flex-container::after {
    content: "";
    display: block;
    clear: both;
} */
.box {
    height: 100px;
    min-width: 100px;
}
.one {
    background: red;
    flex-grow: 1;
}
.two {
    background: blue;
    flex-grow: 2;
}
.three {
    background: green;
    flex-grow: 3;
}